.right {
    float: right;   
}
body {
    overflow-x: 
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.img-1 {
    background-image: url(images/322267385_640.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}


.img-2 {
    background-image: url(images/rodney-hayden-atascosa-sand.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url(images/nowell-featured-image-1038x576.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.img-4 {
    background-image: url(images/audiotheme-overview-video-thumbnail.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    margin-top: 15px;
}

.pad {
    padding-right: 0;
    padding-left: 0;
}

.color{
    background-color: black;
}

.titre-4 {
    border-top: 4px solid black;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
}

.adresse-1 {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    color: #767676
}

.no-border {
    border-bottom: none;
}

.adresse {
    padding-top: 20px;
    font-size: 14px;
}

.color-1 {
    color: green;
}

.hover:hover {
    color: #41a62a;
    text-decoration: none;
}
.taille-1 {
    font-size: 10px;
}

.background {
    background-color: black;
    width: 20px;
}

/*

.fa-play {
    background-color: black;
}

.glyphicon-triangle-right {
    background-color: black;
}
*/

.margin {
    margin: 0;
}

.font-white {
    color: white;
}

.font {
    font-family: 'Lato', sans-serif;
}

.font-size-4 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.font-size-p {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;

.navbar-img {
    height: 165px;
    width: 165px;
}
